@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* freebee */
.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
    background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%); 
    }
    .left-part, form {
    padding: 25px;
    }
    .left-part {
    text-align: center;
    }
    .fa-graduation-cap {
    font-size: 72px;
    }
    form {
    background: rgba(25, 11, 223, 0.363); 
    }
    .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }
    .info {
    display: flex;
    flex-direction: column;
    }
    input, select {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    }
    input::placeholder {
    color: #eee;
    }
    option:focus {
    border: none;
    }
    option {
    background: black; 
    border: none;
    }
    .checkbox input {
    margin: 0 10px 0 0;
    vertical-align: middle;
    }
    .checkbox a {
    color: #26a9e0;
    }
    .checkbox a:hover {
    color: #85d6de;
    }
    .btn-item, button {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px; 
    border: none;
    background: #26a9e0; 
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    }
    .btn-item {
    display: inline-block;
    margin: 20px 5px 0;
    }
    button {
    width: 100%;
    }
    button:hover, .btn-item:hover {
    background: #85d6de;
    }
    @media (min-width: 568px) {
    html, body {
    height: 100%;
    }
    .main-block {
    flex-direction: row;
    height: calc(100% - 50px);
    }
    .left-part, form {
    flex: 1;
    height: auto;
    }
    }

    /* Logo */
.logo .logo{
	border-radius: 5%;
	height: 120px;
	width: 190px;
	padding-bottom: 20px;
}

/* Services */
.serve-container{
	background-color: rgba(27, 31, 34, 0.85);
	margin: 20px auto;
	border-radius: 15px;
	padding: 50px 80px;
	max-width: 700px;
	position:relative;
}

.services{
	background-color:#2bbfeb;
}

/* About */
.me-container{
	color: white;
	background-color: rgba(255, 255, 255, 0.095);;
	border-radius: 15px;
	margin: 20px auto;
	padding: 50px 80px;
	max-width: 700px;
	position:relative;
}

.bio {
	font-size: 20px;
	font-weight: bold;
}

.profile-image{
	border-radius: 50%;
	height: 170px;
	width: 170px;
	object-fit: cover;
}
.profile {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Testimonial */
.testimonial-container{
	background-color:rgba(27, 31, 34, 0.85);
	color: white;
	border-radius: 15px;
	margin: 20px auto;
	padding: 50px 80px;
	max-width: 768px;
	position:relative;
}

.fa-quote {
	color: rgba(255,255,255,0.3);
	font-size: 28px;
	position: absolute;
	top: 70px;
}
.fa-quote-right{
	right:40px;
}
.fa-quote-left{
	left:40px;
}

.testimonial {
	line-height: 28px;
	text-align: justify;
}

.user {
	display: flex;
	align-items: center;
	justify-content: center;
}

.user .user-details{
	margin-left: 10px;
}

.user .username{
	margin:0;
}

.user .role{
	font-weight: normal;
	margin: 10px 0;
}

.user .user-image{
	border-radius: 50%;
	height: 75px;
	width: 75px;
	object-fit: cover;
}

.progress-bar {
	background-color:#3ed5ed;
	height: 4px;
	width:100%;
	animation: grow 10s linear infinite;
	transform-origin: left;
}

@keyframes grow{
	0%{
		transform: scaleX(0);
	}
}

@media(max-width: 768px){
	.testimonial-container{
		padding: 20px 30px;
	}
	.fa-quote{
		display:none;
	}
}

/* Calendar */
.call-container{
	background-color: #D4EDF4;
	color: black;
	border-radius: 15px;
	margin: 20px auto;
	padding: 50px 80px;
	max-width: 768px;
	position:relative;
}
.call{
	color: black;
}

